<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test60">

    <application
        android:name=".Utilities.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test60">


        <activity
            android:name=".Hard.HardLevel2"
            android:exported="false" />
        <activity
            android:name=".Hard.HardLevel1"
            android:exported="false" />
        <activity
            android:name=".Hard.ActivityHardLevelSelector"
            android:exported="false" />
        <activity
            android:name=".Average.AverageLevel5"
            android:exported="false" />
        <activity
            android:name=".Average.AverageLevel4"
            android:exported="false" />
        <activity
            android:name=".Average.AverageLevel3"
            android:exported="false" />
        <activity
            android:name=".Average.AverageLevel2"
            android:exported="false" />
        <activity
            android:name=".Average.AverageLevel1"
            android:exported="false" />
        <activity
            android:name=".Average.ActivityAverageLevelSelector"
            android:exported="false" />
        <activity
            android:name=".Easy.EasyLevel5"
            android:exported="false" />
        <activity
            android:name=".Easy.EasyLevel4"
            android:exported="false" />
        <activity
            android:name=".Easy.EasyLevel3"
            android:exported="false" />
        <activity
            android:name=".Easy.EasyLevel2"
            android:exported="false" />
        <activity
            android:name=".Menu.ActivityQuestions"
            android:exported="false" />
        <activity
            android:name=".MainActivity7"
            android:exported="false" />
        <activity
            android:name=".Easy.EasyLevel1"
            android:exported="false" />
        <activity
            android:name=".Menu.ActivitySettings"
            android:exported="false" />
        <activity
            android:name=".Menu.ActivityAbout"
            android:exported="false" />
        <activity
            android:name=".Easy.ActivityEasyLevelSelector"
            android:exported="false" />
        <activity
            android:name=".Menu.ActivitySelectDifficulty"
            android:exported="false" />
        <activity
            android:name=".Hard.HardLevel3"
            android:exported="false" />
        <activity
            android:name=".Hard.HardLevel4"
            android:exported="false" />
        <activity
            android:name=".Hard.HardLevel5"
            android:exported="false" />
        <activity
            android:name=".Extreme.ExtremeLevel1"
            android:exported="false" />
        <activity
            android:name=".Extreme.ActivityExtremeLevelSelector"
            android:exported="false" />
        <activity
            android:name=".Extreme.ExtremeLevel2"
            android:exported="false" />
        <activity
            android:name=".Extreme.ExtremeLevel3"
            android:exported="false" />
        <activity
            android:name=".Extreme.ExtremeLevel4"
            android:exported="false" />
        <activity
            android:name=".Extreme.ExtremeLevel5"
            android:exported="false" />
        <activity
            android:name=".Menu.ActivityGameOver"
            android:exported="false" />
        <activity
            android:name=".Menu.ActivityCongrats"
            android:exported="false" />
        <activity
            android:name=".Menu.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>